.line{
    background-color: $primary-color;
    height: 50px;
}

.comics{
    background-color: $primary-background;
    padding: 10px 30px;
    text-align: center;
    .comics-list{
        display: flex;
        flex-wrap: wrap;
        .box{
            flex-basis: calc(100%/6);
            padding: 0 10px;
            margin-bottom: 30px;
            h3{
                margin-top: 20px;
                color: $white;
                font-size: 15px;
                font-weight: 500;
                text-align: left;
            }
        }
    }
}

.icon-section{
    background-color: $primary-color;
    color: $white;
    padding: 30px 0;
    .icon{
        display: flex;
        justify-content: space-between;
        align-items: center;
        li{
            display: flex;
            align-items: center;
            p{
                padding: 0 10px;
                text-transform: uppercase;
                font-size: 14px;
            }
        }
    }
    img{
        height: 50px;
        max-width: 60px;
    }
}